{% include "admin/base.html" %}
<article>
    <h3 style="margin-top: 0px;">Besøgs faktor/Antal dage i moselykken:</h3>
    <p>
        Alle disse felter bliver automatisk opdateret i databasen når du opdatere felterne og klikker væk.
    </p>
    <p>
        ØvreGrænse = alt herunder få denne faktor
    </p>
    <table>
        <tr>
            <th>ØvreGrænse</th>
            <th>Faktor</th>
        </tr>
        {% for c in antal_klatre_dage %}
        <tr hx-post="/admin/comp_settings/{{ c.0}}"  hx-trigger="change" hx-include="closest tr">
            <td>
            <div class="field border">
                <input id="upper" name="upper" value="{{ c.2 }}">
            </div>
            </td>
            <td>
            <div class="field border">
                <input id="factor" name="factor" value="{{ c.3 }}">
            </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</article>
<article>
    <h3 style="margin-top: 0px;">forskel_i_ruter_klatret:</h3>
    <p>
        ØvreGrænse = alt herunder få denne faktor
    </p>
    <table>
        <tr>
            <th>ØvreGrænse</th>
            <th>Faktor</th>
        </tr>
        {% for c in forskel_i_ruter_klatret %}
        <tr hx-post="/admin/comp_settings/{{ c.0}}" hx-trigger="change" hx-include="closest tr">
            <td>
            <div class="field border">
                <input id="upper" name="upper" value="{{ c.2 }}">
            </div>
            </td>
            <td>
            <div class="field border">
                <input id="factor" name="factor" value="{{ c.3 }}">
            </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</article>
</article>
<article>
    <h3 style="margin-top: 0px;">ruter_under_eget_niveau:</h3>
    <p>
        ØvreGrænse = alt herunder få denne faktor
    </p>
    <table>
        <tr>
            <th>ØvreGrænse</th>
            <th>Faktor</th>
        </tr>
        {% for c in ruter_under_eget_niveau %}
        <tr hx-post="/admin/comp_settings/{{ c.0 }}" hx-trigger="change" hx-include="closest tr">
            <td>
            <div class="field border">
                <input id="upper" name="upper" value="{{ c.2 }}">
            </div>
            </td>
            <td>
            <div class="field border">
                <input id="factor" name="factor" value="{{ c.3 }}">
            </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</article>
{% include "admin/footer.html" %}


