
{% include "admin/base.html" %}
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

<article>
    <h3 style="margin-top: 0px;">Welcome message:</h3>
    <!-- Create the editor container -->
    <div id="greeting">
    {% if '<p><br></p>' == greeting|safe %}
    <h1>Hello dear climber!</h1>
    <p>
    Welcome to the BotR/PLØKS competition app.
    This app is where you will register your progress in the competition.
    If you encounter any issues during use please contact the competition organizers.
    </p>
    {% else %}
    {{ greeting|safe }}
    {% endif %}


    </div>
    <br>
    <button onclick="SendQuillContent('#greeting')">Send</button>
</article>

<article>
    <h3 style="margin-top: 0px;">Rules:</h3>
    <!-- Create the editor container -->
    <div id="rules" style="color: white;">
      
    {% if '<p><br></p>' == rules|safe %}
    <h1>Hello dear climber!</h1>
    <p>
    Welcome to the BotR/PLØKS competition app.
    For more on the rules of the competition, please refer to the provided instructions and material provided by the competition organizers.
    </p>
    {% else %}
    {{ greeting|safe }}
    {% endif %}
    {{ rules|safe }}
    </div>
    <br>
    <button onclick="SendQuillContent('#rules')">Send</button>
</article>


<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
const quill = new Quill('#rules', {
  modules: {
    toolbar: [
      [{ header: [1, 2, false] }],
      ['bold', 'italic', 'underline'],
      ['image', 'code-block'],
    ],
  },
  placeholder: 'Compose an epic...',
  theme: 'snow', // or 'bubble'
});
const quill2 = new Quill('#greeting', {
  modules: {
    toolbar: [
      [{ header: [1, 2, false] }],
      ['bold', 'italic', 'underline'],
      ['image', 'code-block'],
    ],
  },
  placeholder: 'Compose an epic...',
  theme: 'snow', // or 'bubble'
});

function SendQuillContent(id){
    var myEditor = document.querySelector(id)
    var html = myEditor.children[0].innerHTML
    data = {
        "type": id,
        "content": html,
    };
        
    fetch("/admin/content", {
        method: "POST",
        headers: {'Content-Type': 'application/json'}, 
        body: JSON.stringify(data)
            }).then(res => {
                if (res.status == 200){
                    alert("Successfully updated");
                } else {
                    alert("Something went wrong")
                }
            }).catch(res => {
            alert("Something went wrong")
        });
}

</script>

{% include "admin/footer.html" %}
