<nav class="m l max left">
    <h6><u>ADMIN PAGE</u></h6>
    <a href="/admin/dashboard" style="background-color: red;"><i>dashboard</i><span>Dashboard</span></a>
  
    <a href="/admin/routes"><i>map</i>
    <span>Routes</span></a>
    </a>
    <a href="/admin/users">
        <i>account_box</i>
        <span>Users</span>
    </a>
    <a style="background-color: red;">
        <i>trophy</i>
        <span>Competition:</span>
    </a>
    <a style="padding-left: 60px;" href="/admin/comp_settings">
        <i>percent</i>
        <span>Factors</span>
    </a>
    <a style="padding-left: 60px;" href="/admin/comp_results">
        <i>calculate</i>
        <span>Competition Results</span>
    </a>

    
    <a href="/admin/server">
        <i>dns</i>
        <span>Server Management</span>

    </a>

    <a href="/admin/content">
        <i>folder</i>
        <span>Content: Rules, Welcome msg, branding</span>
    </a>

    <a href="/admin/log">
        <i>cardiology</i>
        <span>Logs</span>
    </a>
</nav>


