<nav class="m l max left">
    <h6><u>ADMIN PAGE</u></h6>
    <br>
    <a href="/admin/routes"><i>map</i>
    <span>Routes</span></a>
    </a>

    <a href="/admin/users">
        <i>account_box</i>
        <span>Users</span>
    </a>

    <a href="/admin/comp_settings">
        <i>trophy</i>
        <span>Competition Settings</span>
    </a>

    
    <a href="/admin/server">
        <i>dns</i>
        <span>Server Management</span>

    </a>

    <a href="/admin/content">
        <i>folder</i>
        <span>Content: Rules, Welcome msg, branding</span>
    </a>

    <a href="/admin/log">
        <i>cardiology</i>
        <span>Logs</span>
    </a>
</nav>


