
{% include "admin/base.html" %}
<td class="main">
    <div class="card">
        <h2 style="margin-top: 0px; color: lime;">Edit Route {{ route[0].0 }} - {{ route[0].2 }}</h2>
    </div>
    <div class="card">
        <h3 style="margin-top: 0px;">Edeting...</h3>
        <table class="add-route">
            <thead>
                <th>Area</th>
                <th>Name</th>
                <th>Grade</th>
                <th>amount of slings/max score</th>
                <th>Factor</th>
            </thead>
            <tbody> 
                <tr>
                    <td>
                        <input value="{{ route[0].4 }}" id="area" name="area">
                    </td>
                    <td>
                        <input value="{{ route[0].2 }}" id="name" name="name">
                    </td>
                    <td>
                        <input value="{{ route[0].5 }}" id="grade" name="grade">
                    </td>
                    <td>
                        <input value="{{ route[0].3 }}" id="max_score" name="max_score">
                    </td>
                    <td>
                        <input value="" id="factor" name="factor">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button onclick="updateRoute('{{ route[0].0 }}')">Save</button>
                        <button onclick="deleteRoute('{{ route[0].0 }}')">Delete route</button>
                        <button onclick="cancle()">Cancle</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</td>

    <!-- Modal : nneds formating -->
    <div id="successModal" class="successModal">
        <div class="modal-content" style="text-align: left; font-family:Verdana, sans-serif; font-weight: 600;">
            <h2>Resultat opdateret</h2>
        </div>
    </div>
    <div id="errorModal" class="errorModal">
        <div class="modal-content" style="text-align: left; font-family:Verdana, sans-serif; font-weight: 600;">
            <h2>Something went wrong</h2>
        </div>
    </div>

<script>
        // Function to show the modal
        function showModal(modal) {
            modal.style.display = 'block';  // Show the modal
            setTimeout(closeModal, 2000);  // Close the modal after 5 seconds
        }

        // Function to close the modal
        function closeModal() {
            document.getElementById('successModal').style.display = 'none';
            document.getElementById('errorModal').style.display = 'none';
        }
    function cancle() {
        window.location.href = '/admin/routes';
    }
    function deleteRoute(id){
        data = {
            "action": "delete",
            "id": id
        };
            
        fetch("/admin/routes/"+id, {
            method: "POST",
            headers: {'Content-Type': 'application/json'}, 
            body: JSON.stringify(data)
                }).then(res => {
                    if (res.status == 204){
                        
                        showModal(document.getElementById('successModal'));
                    } else {
                        showModal(document.getElementById('errorModal'));
                    }
                }).catch(res => {
                    showModal(document.getElementById('errorModal'));
            });

    }
    function updateRoute(id) {
        data = {
            "action": "update",
            "id": id,
            "area": document.getElementById("area").value,
            "name": document.getElementById("name").value,
            "grade": document.getElementById("grade").value,
            "max_score": document.getElementById("max_score").value,
            "factor": document.getElementById("factor").value,
        };
            
        fetch("/admin/routes/"+id, {
            method: "POST",
            headers: {'Content-Type': 'application/json'}, 
            body: JSON.stringify(data)
                }).then(res => {
                    if (res.status == 204){
                        
                        showModal(document.getElementById('successModal'));
                    } else {
                        showModal(document.getElementById('errorModal'));
                    }
                }).catch(res => {
                    showModal(document.getElementById('errorModal'));
            });
    }
</script>
{% include "admin/footer.html" %}