
{% include "admin/base.html" %}
<article>
    <h2 style="margin-top: 0px; color: lime;">Edit Route {{ route[0].0 }} - {{ route[0].2 }}</h2>
    <hr>
    <br>

    <h4 style="margin-top: 0px;">Edeting...</h4>

    <p>This page is for editing a route, changes will only be saved after cliciking the button below.</p>

    <fieldset>
        <div class="field border label">
            <input id="area" name="area" value="{{ route[0].4 }}" >
            <label>Area</label>
        </div>
        <div class="field border label">
            <input id="name" name="name" value="{{ route[0].2 }}">
            <label>Name</label>
        </div>
        <div class="field border label">
            <input id="grade" name="grade" value="{{ route[0].5 }}">
            <label>Grade</label>
        </div>
        <div class="field border label">
            <input id="max_score" name="max_score" value="{{ route[0].3 }}">
            <label>Max score</label>
        </div>
        <br>
    <button onclick="updateRoute('{{ route[0].0 }}')">Save</button>
    <button onclick="deleteRoute('{{ route[0].0 }}')" class="error">Delete route</button>
    <button onclick="cancle()" class="inverse-surface">Cancle</button>
    </fieldset>
</article>

<!-- Modal : nneds formating -->
<div id="successModal" class="successModal">
    <div class="modal-content" style="text-align: left; font-family:Verdana, sans-serif; font-weight: 600; background-color: green; color: whitesmoke; padding: 15px; border-radius: 5px;">
        <h2>Resultat opdateret</h2>
    </div>
</div>
<div id="errorModal" class="errorModal">
    <div class="modal-content" style="text-align: left; font-family:Verdana, sans-serif; font-weight: 600; background-color: tomato; color: black; padding: 15px; border-radius: 5px;">
        <h2>Something went wrong</h2>
    </div>
</div>

<script>
        // Function to show the modal
        function showModal(modal) {
            modal.style.display = 'block';  // Show the modal
            setTimeout(closeModal, 2000);  // Close the modal after 5 seconds
        }

        // Function to close the modal
        function closeModal() {
            document.getElementById('successModal').style.display = 'none';
            document.getElementById('errorModal').style.display = 'none';
        }
    function cancle() {
        window.location.href = '/admin/routes';
    }
    function deleteRoute(id){
        data = {
            "action": "delete",
            "id": id
        };
            
        fetch("/admin/routes/"+id, {
            method: "POST",
            headers: {'Content-Type': 'application/json'}, 
            body: JSON.stringify(data)
                }).then(res => {
                    if (res.status == 204){
                        
                        showModal(document.getElementById('successModal'));
                    } else {
                        showModal(document.getElementById('errorModal'));
                    }
                }).catch(res => {
                    showModal(document.getElementById('errorModal'));
            });

    }
    function updateRoute(id) {
        data = {
            "action": "update",
            "id": id,
            "area": document.getElementById("area").value,
            "name": document.getElementById("name").value,
            "grade": document.getElementById("grade").value,
            "max_score": document.getElementById("max_score").value,
        };
            
        fetch("/admin/routes/"+id, {
            method: "POST",
            headers: {'Content-Type': 'application/json'}, 
            body: JSON.stringify(data)
                }).then(res => {
                    if (res.status == 204){
                        
                        showModal(document.getElementById('successModal'));
                    } else {
                        showModal(document.getElementById('errorModal'));
                    }
                }).catch(res => {
                    showModal(document.getElementById('errorModal'));
            });
    }

    closeModal() 
</script>
{% include "admin/footer.html" %}