
{% include "admin/base.html" %}
        <div class="s12 m6 l6">
            <article>
                <h4 style="margin-top: 0px;">Users</h4>
                <p>This page contains all functions related to the management of the users.
                    in this case users refers to the climbers in the competition.
                </p>
                <p>The functions of this page are:</p>
                <ul>
                    <li><b>Genarate Users</b> - This generates a list of users and passwords as a .csv file.
                        The users are not uploaded to the database.
                    </li>
                    <li><b>Bulk: Add Users</b> - This will take the provided .csv of usernames and passwords and upload these to the database.
                        by uploading new users to the database you will delete any old users and thereby destroy any exsisting data in the database from a competition.
                    </li>
                </ul>
            </article>
        </div>
        <br>

        <div class="s12 m6 l6">
        <article>
            <h4 style="margin-top: 0px;">Generate users:</h4>
            <form action="/generate_users_file" method="post" id="generate_users_file" onsubmit="return validate();" >

                <div class="row">
                    <div class="field border label max">
                        <input type="text" id="n" name="n">
                        <label>Number of users to generate</label>
                    </div>
                </div>
            </form>
            <br>
            <button type="submit" form="generate_users_file" value="Submit">Generate users file</button>
            <script>
                function validate(){
                    if (document.getElementById("n").value == "")
                    {
                        alert("Please add number of users to generate");
                        return false;
                    }
                }
            </script>
            <br>
        </article>
        <article>
            <h4 style="margin-top: 0px;">Bulk: Add Users</h4>
            <p>Upload file with usernames and passwords for competition users</p>

            <form method="POST" action="/admin/users" enctype="multipart/form-data" id="upload_users">
                
                <button>
                    <i>attach_file</i>
                    <span>File</span>
                    <input type="file" name="users" accept=".csv" id="file-picker">
                </button>
                <span type="text" disabled id="output"></span>
                
            </form>
            <br>
            <button type="submit" form="upload_users" value="Submit">Upload users file</button>

            <script>
                const output = document.getElementById("output");
                const filePicker = document.getElementById("file-picker");

                filePicker.addEventListener("change", (event) => {
                const files = event.target.files;
                output.textContent = "";

                for (const file of files) {
                    output.textContent += file.name;
                }
                });
            </script>

        </article>
        </div>
        
    <article>
        <div style="overflow-y:scroll; max-height:40vh ;">
        <table class="stripes">
            <thead>   
                <th>uuid</th>
                <th>username</th>
                <th>password</th>
            </thead>
            <tbody>
            {% for user in users %}
            <tr hx-post="/route_post" hx-trigger="change">
                <td>{{ user.0 }}</td>
                <td>{{ user.1 }}</td>
                <td>{{ user.2 }}</td>
            </tr>
            {% endfor %}     
            </tbody> 
        </table>
        </div>
    <article>
{% include "admin/footer.html" %}