<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.11.22/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.11.22/dist/cdn/beer.min.js"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
</head>

<body style="background-color: #f5eee7;" class="light">
    <div class="large-padding" id="blurs">
        <article class="blur">
            <h5>Login</h5>
            <hr>
            <p style="font-size: large;padding-top: 10px;">Welcome to the official Bornholm on the rocks (BotR) climbing competition page. Please use the provided login info to access your account. After logging in the page will allow you to enter your results and personal info. If you have any issues please contact the staff.
            </p>
            <p style="font-size: large;">GOOD LUCK AND ENJOY!</p>
            <p style="font-size: large;">- The BotR competition team</p>
            <nav class="left-align">
                
        <nav>
            <form method="POST" action="/login">
                <div class="field label border">
                    <input type="username" name="username" autofocus="">
                    <label>Username</label>
                </div>
                <div class="field label border">
                    <input type="password" name="password" autofocus="">
                    <label>Password</label>
                </div>
                <button class="responsive max">Login</button>
            </form>
            </nav class="left-align">
        </article>
    </div>
</body>
